@model IEnumerable<TeamProjectMVC.Models.Audit>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Audit.css" />
<h1 class="text-center text-white my-4 ">Audit Logs</h1>


<div class="container">
    <a class="btn btn-warning"  asp-controller="Product" asp-action="Product">Return</a>
    <div class="row">
        <div class="col-md-12">
            <table class="table border-1 table-striped">
                <thead class="thead-success">
                    <tr>
                        <th class="text-white">Id</th>
                        @*<th>UserId</th>*@
                        <th class="text-white">Type</th>
                        <th class="text-white">Table Name</th>
                        <th class="text-white">Date Time</th>
                        <th class="text-white">Old values</th>
                        <th class="text-white"> New Values</th>
                        <th class="text-white">Affected Columns</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-white">@Html.DisplayFor(modelItem => item.Id) </td>
                            @*<td> @Html.DisplayFor(modelItem => item.UserId)</td>*@
                            <td class="text-white"> @Html.DisplayFor(modelItem => item.Type)</td>
                            <td class="text-white"> @Html.DisplayFor(modelItem => item.TableName)</td>
                            <td class="text-white"> @Html.DisplayFor(modelItem => item.DateTime)</td>
                            <td class="text-white"> @Html.DisplayFor(modelItem => item.OldValues)</td>
                            <td class="text-white"> @Html.DisplayFor(modelItem => item.NewValues)</td>
                            <td class="text-white"> @Html.DisplayFor(modelItem => item.AffectedColumns)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div> 
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
