@model IEnumerable<TeamProjectMVC.Models.Audit>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Audit";
}



<div class="container table-responsive mt-5">
   
    <table class="table table-striped" id="auditTable" style="background-color:black;">
        <thead>
            <tr>
                <th class="text-white">Id</th>
                <th class="text-white">User</th>
                <th class="text-white">Type</th>
                <th class="text-white">Table Name</th>
                <th class="text-white">Date Time</th>
                <th class="text-white">Old values</th>
                <th class="text-white"> New Values</th>
                <th class="text-white">Affected Columns</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var item in Model)
            {
                <tr data-id="@item.Id"  style="background-color:black">
                    <td class="text-white">@Html.DisplayFor(modelItem => item.Id) </td>
                    <td class="text-white"> @Html.DisplayFor(modelItem => item.UserName)</td>
                    <td class="text-white"> @Html.DisplayFor(modelItem => item.Type)</td>
                    <td class="text-white"> @Html.DisplayFor(modelItem => item.TableName)</td>
                    <td class="text-white"> @Html.DisplayFor(modelItem => item.DateTime)</td>
                    <td class="text-white"> @Html.DisplayFor(modelItem => item.OldValues)</td>
                    <td class="text-white"> @Html.DisplayFor(modelItem => item.NewValues)</td>
                    <td class="text-white"> @Html.DisplayFor(modelItem => item.AffectedColumns)</td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section scripts {
    <script type="text/javascript" src="~/js/index.js"></script>
}
